.jumbotron {
  margin: 0;
}

#box-wrapper {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url('../images/background.jpg');
}

#box-wrapper h1 {
  color: white;
  text-align: center;
  font-size: 2.5em;
  padding-top: 120px;
}

#box-wrapper p {
  color: white;
  text-align: center;
  font-size: 2.5em;
}

#about-me {
  background-color: #ECECEA;
  color: black;
  padding: 20px;
}

#my-portfolio {
  padding: 20px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url('../images/port-back.jpg');
}

.well {
  background-color: black;
  color: white;
}

#contact {
  width: 100%;
  background-color: #ECECEA;
  padding: 20px;
}

#contact h1, img {
  padding-bottom: 20px;
}

.footer {
  padding: 20px;
  font-size: .9em;
  background-color: #222222;
  color: white;
}

#media {
  background-color: #ECECEA;
  width: 100%;
  padding-top: 20px;
}
